= render 'layouts/users_search'

- if user_signed_in?
  - if @posts.present?
    - @posts.each do |post|
      div class="well row"
        div class='right'
          span class="small"
            = "#{post.user.email} - #{I18n.l post.created_at.to_date}"
        div class="post-comment"
          = post.comment
  - else
    div class="well row"
      p Não existe nenhum post, para mostrar!
- else
  h1 Bem Vindo ao Pensando em Que?

  div
    p Para compartilhar seus pensamentos, você deve se cadastrar ou logar!
    = link_to('Cadastrar', new_user_registration_path)
