= render 'layouts/users_search'

h2 = "Perfil #{@user.email}"

- if user_signed_in?
  div
    - if @user.id != current_user.id
      span
        - if @user.followed_for? current_user
          = link_to('Deixar de Seguir', followers_unfollow_path(@user.id), class: 'btn btn-default', data: { disable_with: "Aguarde..."})
        - else
          = link_to('Seguir', followers_follow_path(@user.id), class: 'btn btn-primary', data: { disable_with: "Aguarde..."})
  div
    = link_to('Novo Post', new_post_path, class: 'btn btn-primary') if @user.id == current_user.id

hr/

- if @posts.present?
  - @posts.each do |post|
    div class="well row"
      div class='right'
        span class="small"
          = "#{post.user.email} - #{I18n.l post.created_at.to_date}"
      div class="post-comment"
        = post.comment
      - if user_signed_in?
        div class='right'
          = link_to 'Editar', edit_post_path(post.id), class: 'btn btn-default' if @user.id == current_user.id
- else
  div class="well row"
    p Não existe nenhum post, para mostrar!
