= render 'layouts/users_search'

div class="col-md-12"
  h3 Usuários Encontrados
  div class="table table-hover"
    - if @users.present?
      - @users.each do |user|
        p class="well"
          = link_to(user.email, profiles_index_path(user.id))
    - else
      p class='well' Nenhum perfil encontrado!
