div class="well"
  = form_for(post) do |f|
    - if post.errors.any?
      div id="error_explanation"
        h2 = pluralize(post.errors.count, "Erro(s)")
        ul
          - post.errors.full_messages.each do |message|
            li
              = message
    div class="form-group"
      div class="field"
        = f.label "No que você está pensando?"
        = f.text_area :comment, class: "form-control"
    div class="form-group-sm"
      div class="actions"
        = f.submit 'Salvar', class: 'btn btn-primary'
        = link_to "Voltar", :back, class: 'right btn btn-default'
