div class="container"
  div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
    ul class="nav navbar-nav"
      li
        = link_to "Thinking What", root_path
      - if user_signed_in?
        li
          = link_to "Meu Perfil", profiles_index_path(current_user.id)
        li
          = link_to('Editar', edit_user_registration_path)
        li
          = link_to('Sair', destroy_user_session_path, :method=>'delete')
      - else
        li
          = link_to('Entrar', new_user_session_path)
        li
          = link_to('Cadastrar', new_user_registration_path)
