div class="well row"
  = form_tag profiles_users_search_path(:email), method: :get do
    div class="form-group"
      div class="col-md-10"
        = text_field_tag :email, params[:email], class: "form-control"
      div class="col-md-2"
        = submit_tag "Busca", class: 'btn btn-primary'
hr/
