doctype 5
html lang="pt"
  head
    meta charset="utf-8"
    meta name="keywords" content=""
    meta name="description" content=""

    title
      = page_title(app_name: 'Pensando em Que?')

    link href="/favicon.ico" rel=("shortcut icon")

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    /![if lt IE 9]
      script src="http://html5shim.googlecode.com/svn/trunk/html5.js"

  body
    nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
      = render 'navigation'
    div class="container"
      div class="row"
        div class="col-lg-12"
          = render 'flash_messages'
          = yield
